body {
  background: #222 url("../images/dark_embroidery.png") repeat center center;
  background: ;
  font-size: 16px;
  color: #333;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.firemans-4 {
  max-width: 50em;
  width: 95%;
  margin: 0 auto;
}

.black-butte-porter {
  font-size: 2.5em;
  color: #eee;
  margin: 1em .5em;
}

.forbidden-lavender {
  padding: 1.5em 2.5em;
  background: #fff;
  border-radius: 2px;
}

.shiner-bock {
  border: 1px solid #333;
  border-width: 1px 0;
  padding: 0 1em 1em;
  margin : 2.5em -.5em;
  background: #fafafa;
}