body {
  background: #fff url("../images/sayagata-400px.png") repeat center center;
  font-size: 16px;
  color: #333;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.firemans-4 {
  max-width: 50em;
  width: 95%;
  margin: 0 auto;
}

.forbidden-lavender {
  padding: 1.5em 2.5em;
  background: #fff;
}

.black-butte-porter {
  font-size: 2.5em;
}